pipeline/Inventario.json
{
	"name": "Inventario",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"lastModified",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "name",
					"value": {
						"value": "@activity('Get Metadata1').output.itemName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[aujditADLSObjects]",
					"storedProcedureParameters": {
						"Lastmodified": {
							"value": {
								"value": "@activity('Get Metadata1').output.lastModified",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"name_": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"path": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"size": {
							"value": {
								"value": "@activity('Get Metadata1').output.size",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL4audit",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"name": {
				"type": "String"
			},
			"size": {
				"type": "String"
			},
			"lastmodified": {
				"type": "String"
			}
		},
		"annotations": []
	}
}